*.py[cod]
*.out
*.mo
.DS_Store
.idea/
.vscode/
emails_outbox
SECRET.key
prod.py
dev*.py
celerybeat*
env
venv
.coverage
pypy_env
tmp
htmlcov/*
.venv
*.log
.pytest_cache
[Bb]uild/
[Dd]ist/
[Dd]ependency/
Pipfile.lock
*.sqlite3
