{% extends 'base.html' %}

{% load static %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'chat/style.css' %}">{% endblock %}
{% block title %}Chat Room{% endblock %}

{% block content %}
    <section id="chat">
        <div id="chat-messages"></div>
        <form id="chat-input-form">
            <input class="chat-input-form__message" type="text">
            <button class="chat-input-form__send-button">send message</button>
        </form>
    </section>

    <script>
        const $ = (selector) => document.querySelector(selector) // jquery for poor
        const cropDatetime = (datetime) =>{
            const time = datetime.split('T0')[1]

            return time.slice(0, time.lastIndexOf('.'))
        }
        const append_message = (data) => {
            // . . . . . .
            const message_div = '<ul class="chat-message">' +
                                              '     <li class="chat_message__username">' + data.username + '</li>' +
                                              '     <li class="chat_message__message">' + data.message + '</li>' +
                                              '     <li class="chat_message__datetime">' + cropDatetime(data.datetime) + '</li>' +
                                              '</ul>'
            $('#chat-messages').insertAdjacentHTML('beforeend', message_div)
        }

        let socket = new WebSocket('ws://' + window.location.host + '/')

        socket.onmessage = (e) => {
            const data = JSON.parse(e.data)
            
            append_message(data)
            $('#chat-messages').scrollTop = $('#chat-messages').scrollHeight
        }
        socket.onclose = (e) => {
            console.error('Unexpected error')
        }

        $('#chat-input-form .chat-input-form__message').focus()
        $('#chat-input-form .chat-input-form__send-button').onclick = (e) => {
            e.preventDefault()
            
            const userInput = $('#chat-input-form .chat-input-form__message').value

            if (userInput !== '') {
                socket.send(JSON.stringify({
                    'message': userInput
                }))
                $('#chat-input-form .chat-input-form__message').value = ''
            }
        }
    </script>
{% endblock %}